useDynLib(bayesWatch, .registration=TRUE)
import(ggplot2, BDgraph, gridExtra, parallel, Rcpp, Matrix, CholWishart, Hotelling)
importFrom("stats", "cov", "dbeta", "density", "dgamma", "dnorm",
             "rbeta", "rbinom", "rgamma", "rnorm", "rpois", "runif",
             "sd")
exportPattern("^[[:alpha:]]+")

export(print.bayesWatch)
S3method(print, bayesWatch)
export(plot.bayesWatch)
S3method(plot, bayesWatch)
